<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">

              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter">
              </span>

              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

  <script src="{{site.baseurl}}/assets/d3/d3.v3.min.js" charset="utf-8"></script>
  <script src="{{site.baseurl}}/assets/chartjs/1.0.2/chart.min.js" charset="utf-8"></script>
  <script src="{{site.baseurl}}/assets/jQuery/2.1.3/jquery.min.js"></script>
  <script src="{{site.baseurl}}/assets/holder.js"></script>
  <script src="{{site.baseurl}}/assets/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{site.baseurl}}/assets/ie10-viewport-bug-workaround.js"></script>

  <script src="{{site.baseurl}}/assets/site.js"></script>
  {% if page.js %}
  {% for file in page.js %}
  <script src="{{site.baseurl}}/assets/{{file}}"></script>
  {% endfor %}

  {% endif %}
</footer>
